{% extends 'base.html' %}

{% block title %}Authors{% endblock %}

{% block content %}
    <h1>Authors</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Bio</th>
            </tr>
        </thead>
        <tbody>
            {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.name }}</td>
                <td>{{ author.bio }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
